.drinks_range{
    background-color: #F0F0F0;
}
.sweets_range{ 
    background-color: #f6f6f6;
}
.drinks_range, .sweets_range{
    padding: 20px 0 80px 0 ;
    width: 100%;
    /* min-height: 100vh; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.drinks_range h1, .sweets_range h1{
    width: 1200px;
    font-size: 45px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 30px;
}
.products{
    width: 1200px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 50px;
}
.bigproduct{
    height: 460px;
    grid-column: span 2;
    background-color: white;
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.bigproduct .img{
    /* background-image: url(/coffee/02.jpg); */
    height: 100%;
    width: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bigproduct .right{
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),  #D9D9D9 40%);
    text-align: right;

}
.bigproduct .innerright{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -40%);
    width: 250px;
    height: 80%;
}
.innerright .label{
    font-size: 35px;
}
.innerright .text{
    font-size: 20px;
    margin-top: 30px;
}
.smallproduct{
    height: 460px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.smallproduct .img{
    /* background-image: url(/eat/eat3.png); */
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.smallproduct .right{
    background-color: #D9D9D9;
    width: 100%;
    min-height: 160px;
    text-align: center;
    padding: 5px;
}
.label{
    font-size: 30px;
    font-weight: 500;
}
.text{
    font-size: 16px;
}

@media (max-width: 1300px){
    .products{
        grid-column-gap: 15px;
        grid-row-gap: 10px;
        width: 1200px;
        grid-template-columns: 1fr 1fr;
        width: 98%;
    }
    .bigproduct{
        height: 100%;
        grid-column: span 1;
    }
    .smallproduct{
        width: 100%;
    }
    .drinks_range h1, .sweets_range h1{
        width: 100%;
        font-size: 45px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 30px;
    }
}
@media (max-width: 1300px){
    .products{
        grid-template-columns: 1fr;
    }
    .bigproduct{
        min-height: 460px;
        grid-column: span 1;
        
        flex-direction: column;
    }
    .bigproduct label{
        font-size: 30px;
    }
    .bigproduct .text{
        font-size: 16px;
        margin-top: 0;
    }
    .smallproduct{
        width: 100%;
        min-height: 460px;
    }
    .bigproduct .right{
        background-color: #D9D9D9;
        width: 100%;
        height: 160px;
        text-align: center;
        padding: 5px;
        position: inherit;
    }
    .bigproduct img{
        height: 300px;
        width: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }
    .bigproduct .innerright{
        position: inherit;
        right: 0;
        top: 0;
        transform: none;
        width: 100%;
        height: auto;
    }
    .drinks_range h1, .sweets_range h1{
        width: 100%;
        font-size: 30px;
    }
}
@media (max-width: 350px){
    .bigproduct img{
        height: 100%;
        width: 100%;
    }
    .smallproduct .img{
        /* background-image: url(/eat/eat3.png); */
        width: 100%;
    }
    
}